.codeBlock {
  box-shadow: 7px 7px 15px 0 #000;
  font-size: 0.9rem;
  position: relative;
}

.hljsBlock {
  min-height: 100%;
}

.tagLang {
  background-color: rgba(#000, 0.3);
  border-bottom-left-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
