@import '../styles/variables';

.editorSection {
  position: relative;
}

.stickyWrapper {
  position: sticky;
  top: 15px;
}

.shareButton {
  background-color: $palette-green;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;

  &:focus,
  &:hover {
    background-color: $palette-dark-green;
  }
}

.codeEditor {
  height: 100%;
}

.tabStyle {
  tab-size: 2rem;
}
