.bundleHeader {
  position: sticky;
  top: 0;
  z-index: 1;

  &[data-stuck] > .bundleHeaderBackground {
    display: block;
  }

  .bundleHeaderBackground {
    background-color: var(--color-grey);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.87);
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color 0.2s;
    width: 100vw;
  }

  .bundleHeaderBody {
    position: relative;
    padding: 1rem 0;
  }
}

.selectedLanguages {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.selectedLanguage {
  background-color: var(--color-cyan);
  border-radius: var(--border-radius);
  color: var(--color-dark-cyan);
  display: inline-block;
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  padding: 0 0.25rem 0.15rem 0.5rem;

  button {
    appearance: none;
    background: transparent;
    border: none;
    color: var(--color-dark-cyan);
  }
}

.languagesContainer {
  fieldset {
    margin-bottom: 1.5rem;
  }

  legend {
    border-bottom: var(--border);
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
  }

  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
