.sampleSnippet {
  height: 400px;
  margin-bottom: 1.5rem;
}

.sidebar {
  position: sticky;
  top: 1rem;
}

$categories: (
  'assembler',
  'common',
  'config',
  'css',
  'database',
  'enterprise',
  'functional',
  'graphics',
  'lisp',
  'markup',
  'misc',
  'protocols',
  'scientific',
  'scripting',
  'system',
  'template'
);

@each $category in $categories {
  .show-#{$category} div:not([data-category='#{$category}']) {
    display: none;
  }
}
